@import "tailwindcss";

@theme {
  /* Brand Colors */
  --color-brand-dark: #0F233F;
  --color-brand-lightTeal: #54D6D4;
  --color-brand-teal: #4FCCD2;
  --color-brand-darkTeal: #12A1A6;

  /* We still map the Google font variable here */
  --font-sans: var(--font-raleway), sans-serif;
}

@layer base {
  body {
    background-color: white;
    color: var(--color-brand-dark);
  }
}